body {
    background-color: #fff!important;
    text-align: center;
    width: inital!important;
    min-height: 100%
}

body main {
    background-color: #000;
    overflow: inherit;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    margin: auto;
    flex-wrap: wrap;
    justify-items: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    align-content: baseline;
    width: 100%
}

body main,
body panel panel-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
}

body panel panel-header {
    font-size: 22px;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-align: end;
    align-items: flex-end;
    margin: 0
}

body panel panel-header label {
    display: -webkit-inline-box;
    display: inline-flex;
    width: auto
}

body panel panel-body {
    color: #666;
    background: #fff;
    box-shadow: none;
    border-radius: 0;
    width: auto;
    margin: 0;
    display: inline-block;
    padding: 5px 0
}

body panel panel-body>table>tbody tr {
    border: none
}

body panel panel-body>ul.review-list {
    color: #333;
    margin-top: 3px;
    padding-right: 0;
    margin-right: 0!important
}

body panel.modern {
    background: 0 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 12px;
    width: 100%
}

.information>tbody {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: end;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    flex-direction: unset;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    align-items: baseline
}

.information>tbody>tr {
    width: 45%;
    max-width: 50%;
    display: inline-block;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: end;
    border: none;
    padding: 5px;
    text-align: center;
    height: 100%;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-shrink: 2;
    flex-basis: fill
}

.information>tbody>tr:nth-child(2n) {
    padding-right: 0
}

.information>tbody>tr:nth-child(odd) {
    padding-left: 0
}

.information>tbody>tr>td:first-child {
    font-size: 11px;
    color: #777;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0
}

.information>tbody>tr>td:nth-child(2) {
    text-align: left;
    font-size: 16px;
    color: #111;
    font-weight: 600;
    padding-top: 0;
    padding-bottom: 0;
    margin: .425rem 0 .625rem
}

header {
    width: auto;
    right: 0;
    left: 0;
    box-sizing: border-box;
    background-image: -webkit-gradient(linear, left top, right top, from(#222), to(#424242));
    background-image: linear-gradient(90deg, #222, #424242);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .3);
    border: none!important
}

header #btn-login {
    padding: .325rem .75rem;
    border: 1px solid #000;
    border-radius: 1rem;
    -webkit-filter: brightness(5000%);
    filter: brightness(5000%);
    border-color: #fff!important;
    font-weight: 700;
    color: #fff;
    -webkit-transform: scale(.95);
    transform: scale(.95)
}

header>div {
    color: green;
    display: -webkit-box;
    display: flex;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-content: space-between;
    -webkit-box-align: center;
    align-items: center
}

header .nav-label {
    color: #fff
}

.navbar-brand img {
    width: 35px;
    height: 35px;
    margin-right: .3rem;
    -webkit-filter: brightness(400%);
    filter: brightness(400%);
    font-weight: 700
}

.navbar-brand div {
    font-weight: 500
}

a.sub-header {
    color: #0070c9
}

.sub-header {
    line-height: normal;
    width: auto;
    text-align: right;
    font-size: 14px;
    color: #333;
    margin-bottom: 1px;
    font-weight: 600
}

.change-content {
    display: block;
    margin-left: -4px;
    line-height: 1;
    font-size: 14px;
    font-weight: 400
}

.depiction-style {
    margin-top: 0;
    font-weight: 400
}

.depiction-style p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4
}

.depiction-style ol li,
.depiction-style ul li {
    padding-bottom: .375rem;
    line-height: 1.25
}

.depiction-style ol li:last-child,
.depiction-style ul li:last-child {
    padding-bottom: 0
}

.depiction-style p+ol,
.depiction-style p+ul {
    padding-top: .25rem
}

.depiction-style p>br {
    line-height: 2
}

.depiction-style a {
    color: #1e1e1e;
    font-weight: 500;
    display: inline-block
}

.changes-header {
    font-size: 11px;
    font-style: italic;
    color: #000;
    font-weight: 600;
    margin: 0;
    opacity: .9
}

.rating-stats-container {
    margin-bottom: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    width: 100%;
    -webkit-box-align: start;
    align-items: flex-start
}

.rating-stats-container .rating-overall {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    align-self: flex-start
}

.rating-stats-container .rating-stats-bars {
    width: inherit;
    align-self: flex-end;
    float: none;
    max-width: 400px
}

@media(min-width:961px) {
    main {
        width: 75%!important;
        max-width: 961px!important
    }
    .info-panel {
        width: 50%!important
    }
    .changes-panel {
        width: 45%!important;
        display: -webkit-box!important;
        display: flex!important;
        -webkit-box-ordinal-group: 2;
        order: 1
    }
    .reviews-panel {
        width: 100%!important;
        -webkit-box-ordinal-group: 3;
        order: 2
    }
    .review-list li {
        -webkit-box-orient: vertical;
        flex-direction: column;
        margin-bottom: 0;
        -webkit-box-flex: 1;
        flex: auto 1;
        align-self: auto;
        margin-right: 1em;
        width: 30%
    }
    .review-list li,
    ul.review-list {
        display: -webkit-box;
        display: flex;
        -webkit-box-direction: normal
    }
    ul.review-list {
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        flex-direction: row;
        -webkit-box-align: stretch;
        align-items: stretch;
        align-content: center
    }
    .review-list li:first-child {
        margin-left: 0
    }
    .review-list li:last-child {
        margin-right: 0
    }
    .depiction-style ol,
    .depiction-style ul {
        -moz-columns: 2;
        column-count: 2;
        -webkit-columns: 2;
        -mox-columns: 2
    }
    .depiction-style ol ol,
    .depiction-style ol ul,
    .depiction-style ul ol,
    .depiction-style ul ul {
        -webkit-columns: 1;
        display: inline-block;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -mox-columns: 1
    }
    .depiction-style ol li,
    .depiction-style ul li {
        padding-right: 20px
    }
}

.reviews-panel panel-body {
    margin-top: 25px;
    display: -webkit-box!important;
    display: flex!important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.depiction-style .h1,
.depiction-style .h2,
.depiction-style .h3,
.depiction-style .h4,
.depiction-style .h5,
.depiction-style .h6,
.depiction-style h1,
.depiction-style h2,
.depiction-style h3,
.depiction-style h4,
.depiction-style h5,
.depiction-style h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1
}

.depiction-style .h1 .small,
.depiction-style .h1 small,
.depiction-style .h2 .small,
.depiction-style .h2 small,
.depiction-style .h3 .small,
.depiction-style .h3 small,
.depiction-style .h4 .small,
.depiction-style .h4 small,
.depiction-style .h5 .small,
.depiction-style .h5 small,
.depiction-style .h6 .small,
.depiction-style .h6 small,
.depiction-style h1 .small,
.depiction-style h1 small,
.depiction-style h2 .small,
.depiction-style h2 small,
.depiction-style h3 .small,
.depiction-style h3 small,
.depiction-style h4 .small,
.depiction-style h4 small,
.depiction-style h5 .small,
.depiction-style h5 small,
.depiction-style h6 .small,
.depiction-style h6 small {
    font-weight: 400;
    line-height: 1
}

.depiction-style .h1,
.depiction-style .h2,
.depiction-style .h3,
.depiction-style h1,
.depiction-style h2,
.depiction-style h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 700
}

.depiction-style .h1 .small,
.depiction-style .h1 small,
.depiction-style .h2 .small,
.depiction-style .h2 small,
.depiction-style .h3 .small,
.depiction-style .h3 small,
.depiction-style h1 .small,
.depiction-style h1 small,
.depiction-style h2 .small,
.depiction-style h2 small,
.depiction-style h3 .small,
.depiction-style h3 small {
    font-size: 65%
}

.depiction-style .h4,
.depiction-style .h5,
.depiction-style .h6,
.depiction-style h4,
.depiction-style h5,
.depiction-style h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

.depiction-style .h4 .small,
.depiction-style .h4 small,
.depiction-style .h5 .small,
.depiction-style .h5 small,
.depiction-style .h6 .small,
.depiction-style .h6 small,
.depiction-style h4 .small,
.depiction-style h4 small,
.depiction-style h5 .small,
.depiction-style h5 small,
.depiction-style h6 .small,
.depiction-style h6 small {
    font-size: 75%
}

.depiction-style .h1,
.depiction-style h1 {
    font-size: 36px;
    font-weight: 800
}

.depiction-style .h2,
.depiction-style h2 {
    font-size: 30px;
    margin-top: 10px
}

.depiction-style .h3,
.depiction-style h3 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: .625rem;
    margin-bottom: .75rem
}

.depiction-style .h4,
.depiction-style h4 {
    font-size: .95rem;
    font-weight: 600
}

.depiction-style .h5,
.depiction-style h5 {
    font-size: .875rem;
    font-weight: 600
}

.depiction-style .h6,
.depiction-style h6 {
    font-size: .725rem;
    font-weight: 700;
    margin-bottom: .35rem;
    margin-top: .75rem
}

.depiction-style p {
    margin: 0 0 10px
}

.depiction-style .small,
.depiction-style small {
    font-size: 85%
}

.depiction-style ol,
.depiction-style ul {
    margin-top: 0;
    margin-bottom: .5rem;
    padding-top: .5rem;
    padding-right: 0
}

.depiction-style ol ol,
.depiction-style ol ul,
.depiction-style ul ol,
.depiction-style ul ul {
    margin-bottom: 0;
    padding-bottom: 0
}

.depiction-style h3+p {
    margin-top: 10px!important
}

.depiction-style p+h3 {
    margin-top: 15px
}

.depiction-style a>.strong,
.depiction-style a>strong {
    color: inherit
}

.depiction-style h4+ol,
.depiction-style h4+ul {
    padding-top: .25rem
}

.depiction-style ol+h4,
.depiction-style p+h4,
.depiction-style ul+h4 {
    margin-top: 1rem
}

.depiction-style ol+h3,
.depiction-style p+h3,
.depiction-style ul+h3 {
    margin-top: 1.15rem;
    margin-bottom: .5rem
}

.depiction-style ol+p,
.depiction-style ul+p {
    margin-top: 0
}

.depiction-style>p:last-child {
    margin-bottom: 0
}

.depiction-style h3+h4,
.depiction-style p+h5 {
    margin-top: .85rem
}

.depiction-style h5+p {
    margin-top: -.2rem
}

.purchase-button>a,
.purchase-button>span {
    color: #aaa;
    background: 0 0;
    border-radius: 0;
    letter-spacing: .5px;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 0;
    display: inline-block;
    width: auto;
    cursor: default;
    text-transform: uppercase;
    white-space: nowrap
}

.purchase-button>a {
    color: #fe5a1d;
    background: #ececec;
    border-radius: 21px;
    padding-right: 18px;
    padding-left: 18px;
    -webkit-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out
}

.purchase-button>a:hover {
    opacity: .8
}

.purchase-button p {
    font-size: 12px;
    margin: 8px auto 0;
    color: #999;
    max-width: 250px
}

@media(max-width:700px) {
    .purchase-button>a,
    .purchase-button>span {
        letter-spacing: .34px;
        font-size: 13px;
        padding: 8px 0
    }
    .purchase-button>a {
        border-radius: 21px;
        padding-right: 15px;
        padding-left: 15px
    }
    .purchase-button p {
        font-size: 9px;
        max-width: 150px;
        margin-top: 4px
    }
}

.package-header .name {
    font-size: 20px;
    font-weight: 700;
    color: #000
}

.package-header .identifier {
    margin-top: 4px;
    color: #a6a6a6;
    font-size: 12px
}

.package-header .labels {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-flex: 2;
    flex-grow: 2;
    padding-top: 5px
}

.package-header,
.package-header .labels {
    -webkit-box-align: center;
    align-items: center
}

.package-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-top: -5px;
    margin-bottom: 1rem;
    justify-items: stretch
}

.purchase-button>a {
    letter-spacing: .5px;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 8px 10px
}

.purchase-button,
.purchase-button>a {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content
}

.purchase-button {
    display: -webkit-inline-box;
    display: inline-flex;
    margin: auto;
    padding-top: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-flex: 0;
    flex: 0 auto
}

.screenshot-viewer a {
    display: block;
    width: auto;
    height: 275px
}

.screenshot-viewer img {
    height: 100%;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block
}

.screenshot-viewer {
    overflow-y: hidden;
    display: block;
    margin: 0;
    padding: 0
}

header a {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

header .nav-label {
    line-height: normal;
    font-size: .9rem;
    font-weight: 600;
    opacity: .9
}

.navbar-brand div {
    color: #fff!important;
    font-size: 1rem
}

.cydia-body main {
    padding-top: .75rem!important
}

.cydia-body .cydia-hide,
.cydia-body header {
    display: none!important
}

.depiction-style .sileo-show,
.sileo-show {
    display: none
}

.sileo-body main {
    padding-top: .75rem!important
}

.sileo-body .sileo-hide,
.sileo-body header {
    display: none!important
}

.sileo-body .sileo-show {
    display: inherit
}

.changes-panel ul li {
    margin-bottom: .35rem;
    line-height: 1.15;
    font-weight: 500;
    padding-left: .25rem
}

.changes-panel ul li:last-child {
    margin-bottom: 0
}

.changes-panel ul li .change-content {
    font-weight: 500;
    line-height: 1.35;
    padding-left: .125rem
}