body {
    background-color: #fff!important;
    text-align: center;
    width: inital!important;
    min-height: 100%
}

body main {
    overflow: inherit;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    margin: auto;
    flex-wrap: wrap;
    justify-items: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    align-content: baseline;
    width: 100%
}

body main,
body panel panel-body {
    box-shadow: none;
    border-radius: 0;
    width: auto;
    margin: 0;
    display: inline-block;
    padding: 5px 0
}

body panel panel-body>table>tbody tr {
    border: none
}

body panel panel-body>ul.review-list {
    color: #333;
    margin-top: 3px;
    padding-right: 0;
    margin-right: 0!important
}

body panel.modern {
    background: 0 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 12px;
    width: 100%
}


.navbar-brand img {
    width: 35px;
    height: 35px;
    margin-right: .3rem;
    -webkit-filter: brightness(400%);
    filter: brightness(400%);
    font-weight: 700
}

.navbar-brand div {
    font-weight: 500
}

a.sub-header {
    color: #0070c9
}

.sub-header {
    line-height: normal;
    width: auto;
    text-align: right;
    font-size: 14px;
    color: #333;
    margin-bottom: 1px;
    font-weight: 600
}

.change-content {
    display: block;
    margin-left: -4px;
    line-height: 1;
    font-size: 14px;
    font-weight: 400
}

.depiction-style {
    margin-top: 0;
    font-weight: 400
}

.depiction-style p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4
}

.depiction-style ol li,
.depiction-style ul li {
    padding-bottom: .375rem;
    line-height: 1.25
}

.depiction-style ol li:last-child,
.depiction-style ul li:last-child {
    padding-bottom: 0
}

.depiction-style p+ol,
.depiction-style p+ul {
    padding-top: .25rem
}

.depiction-style p>br {
    line-height: 2
}

.depiction-style a {
    color: #1e1e1e;
    font-weight: 500;
    display: inline-block
}

.changes-header {
    font-size: 11px;
    font-style: italic;
    color: #000;
    font-weight: 600;
    margin: 0;
    opacity: .9
}

.rating-stats-container {
    margin-bottom: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    width: 100%;
    -webkit-box-align: start;
    align-items: flex-start
}

.rating-stats-container .rating-overall {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    align-self: flex-start
}

.rating-stats-container .rating-stats-bars {
    width: inherit;
    align-self: flex-end;
    float: none;
    max-width: 400px
}

@media(min-width:961px) {
    main {
        width: 75%!important;
        max-width: 961px!important
    }
    .info-panel {
        width: 50%!important
    }
    .changes-panel {
        width: 45%!important;
        display: -webkit-box!important;
        display: flex!important;
        -webkit-box-ordinal-group: 2;
        order: 1
    }
    .reviews-panel {
        width: 100%!important;
        -webkit-box-ordinal-group: 3;
        order: 2
    }
    .review-list li {
        -webkit-box-orient: vertical;
        flex-direction: column;
        margin-bottom: 0;
        -webkit-box-flex: 1;
        flex: auto 1;
        align-self: auto;
        margin-right: 1em;
        width: 30%
    }
    .review-list li,
    ul.review-list {
        display: -webkit-box;
        display: flex;
        -webkit-box-direction: normal
    }
    ul.review-list {
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        flex-direction: row;
        -webkit-box-align: stretch;
        align-items: stretch;
        align-content: center
    }
    .review-list li:first-child {
        margin-left: 0
    }
    .review-list li:last-child {
        margin-right: 0
    }
    .depiction-style ol,
    .depiction-style ul {
        -moz-columns: 2;
        column-count: 2;
        -webkit-columns: 2;
        -mox-columns: 2
    }
    .depiction-style ol ol,
    .depiction-style ol ul,
    .depiction-style ul ol,
    .depiction-style ul ul {
        -webkit-columns: 1;
        display: inline-block;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -mox-columns: 1
    }
    .depiction-style ol li,
    .depiction-style ul li {
        padding-right: 20px
    }
}

.reviews-panel panel-body {
    margin-top: 25px;
    display: -webkit-box!important;
    display: flex!important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.depiction-style .h1,
.depiction-style .h2,
.depiction-style .h3,
.depiction-style .h4,
.depiction-style .h5,
.depiction-style .h6,
.depiction-style h1,
.depiction-style h2,
.depiction-style h3,
.depiction-style h4,
.depiction-style h5,
.depiction-style h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1
}

.depiction-style .h1 .small,
.depiction-style .h1 small,
.depiction-style .h2 .small,
.depiction-style .h2 small,
.depiction-style .h3 .small,
.depiction-style .h3 small,
.depiction-style .h4 .small,
.depiction-style .h4 small,
.depiction-style .h5 .small,
.depiction-style .h5 small,
.depiction-style .h6 .small,
.depiction-style .h6 small,
.depiction-style h1 .small,
.depiction-style h1 small,
.depiction-style h2 .small,
.depiction-style h2 small,
.depiction-style h3 .small,
.depiction-style h3 small,
.depiction-style h4 .small,
.depiction-style h4 small,
.depiction-style h5 .small,
.depiction-style h5 small,
.depiction-style h6 .small,
.depiction-style h6 small {
    font-weight: 400;
    line-height: 1
}

.depiction-style .h1,
.depiction-style .h2,
.depiction-style .h3,
.depiction-style h1,
.depiction-style h2,
.depiction-style h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 700
}

.depiction-style .h1 .small,
.depiction-style .h1 small,
.depiction-style .h2 .small,
.depiction-style .h2 small,
.depiction-style .h3 .small,
.depiction-style .h3 small,
.depiction-style h1 .small,
.depiction-style h1 small,
.depiction-style h2 .small,
.depiction-style h2 small,
.depiction-style h3 .small,
.depiction-style h3 small {
    font-size: 65%
}

.depiction-style .h4,
.depiction-style .h5,
.depiction-style .h6,
.depiction-style h4,
.depiction-style h5,
.depiction-style h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

.depiction-style .h4 .small,
.depiction-style .h4 small,
.depiction-style .h5 .small,
.depiction-style .h5 small,
.depiction-style .h6 .small,
.depiction-style .h6 small,
.depiction-style h4 .small,
.depiction-style h4 small,
.depiction-style h5 .small,
.depiction-style h5 small,
.depiction-style h6 .small,
.depiction-style h6 small {
    font-size: 75%
}

.depiction-style .h1,
.depiction-style h1 {
    font-size: 36px;
    font-weight: 800
}

.depiction-style .h2,
.depiction-style h2 {
    font-size: 30px;
    margin-top: 10px
}

.depiction-style .h3,
.depiction-style h3 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: .625rem;
    margin-bottom: .75rem
}

.depiction-style .h4,
.depiction-style h4 {
    font-size: .95rem;
    font-weight: 600
}

.depiction-style .h5,
.depiction-style h5 {
    font-size: .875rem;
    font-weight: 600
}

.depiction-style .h6,
.depiction-style h6 {
    font-size: .725rem;
    font-weight: 700;
    margin-bottom: .35rem;
    margin-top: .75rem
}

.depiction-style p {
    margin: 0 0 10px
}

.depiction-style .small,
.depiction-style small {
    font-size: 85%
}

.depiction-style ol,
.depiction-style ul {
    margin-top: 0;
    margin-bottom: .5rem;
    padding-top: .5rem;
    padding-right: 0
}

.depiction-style ol ol,
.depiction-style ol ul,
.depiction-style ul ol,
.depiction-style ul ul {
    margin-bottom: 0;
    padding-bottom: 0
}

.depiction-style h3+p {
    margin-top: 10px!important
}

.depiction-style p+h3 {
    margin-top: 15px
}

.depiction-style a>.strong,
.depiction-style a>strong {
    color: inherit
}

.depiction-style h4+ol,
.depiction-style h4+ul {
    padding-top: .25rem
}

.depiction-style ol+h4,
.depiction-style p+h4,
.depiction-style ul+h4 {
    margin-top: 1rem
}

.depiction-style ol+h3,
.depiction-style p+h3,
.depiction-style ul+h3 {
    margin-top: 1.15rem;
    margin-bottom: .5rem
}

.depiction-style ol+p,
.depiction-style ul+p {
    margin-top: 0
}

.depiction-style>p:last-child {
    margin-bottom: 0
}

.depiction-style h3+h4,
.depiction-style p+h5 {
    margin-top: .85rem
}

.depiction-style h5+p {
    margin-top: -.2rem
}



.package-header .name {
    font-size: 20px;
    font-weight: 700;
}

.package-header .identifier {
    margin-top: 4px;
    color: #a6a6a6;
    font-size: 12px
}

.package-header .labels {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-flex: 2;
    flex-grow: 2;
    padding-top: 5px
}

.package-header,
.package-header .labels {
    -webkit-box-align: center;
    align-items: center
}

.package-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-top: -5px;
    margin-bottom: 1rem;
    justify-items: stretch
}




.navbar-brand div {
    color: #fff!important;
    font-size: 1rem
}

.cydia-body main {
    padding-top: .75rem!important
}

.cydia-body .cydia-hide,
.cydia-body header {
    display: none!important
}

.depiction-style .sileo-show,
.sileo-show {
    display: none
}

.sileo-body main {
    padding-top: .75rem!important
}

.sileo-body .sileo-hide,
.sileo-body header {
    display: none!important
}

.sileo-body .sileo-show {
    display: inherit
}

.changes-panel ul li {
    margin-bottom: .35rem;
    line-height: 1.15;
    font-weight: 500;
    padding-left: .25rem
}

.changes-panel ul li:last-child {
    margin-bottom: 0
}

.changes-panel ul li .change-content {
    font-weight: 500;
    line-height: 1.35;
    padding-left: .125rem
}