.purchase-button>a {
    letter-spacing: .5px;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 8px 10px
}

.purchase-button>a {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content
}

.purchase-button {
    display: -webkit-inline-box;
    display: inline-flex;
    margin: auto;
    padding-top: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-flex: 0;
    flex: 0 auto
}

.purchase-button>a,
.purchase-button>span {
    color: #aaa;
    background: 0 0;
    border-radius: 0;
    letter-spacing: .5px;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 0;
    display: inline-block;
    width: auto;
    cursor: default;
    text-transform: uppercase;
    white-space: nowrap
}

.purchase-button>a {
    color: #ff0000;
    background: #ececec;
    border-radius: 21px;
    padding-right: 18px;
    padding-left: 18px;
    -webkit-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out
}

.purchase-button>a:hover {
    opacity: .8
}

.purchase-button p {
    font-size: 12px;
    margin: 8px auto 0;
    color: #999;
    max-width: 250px
}

@media(max-width:700px) {
    .purchase-button>a,
    .purchase-button>span {
        letter-spacing: .34px;
        font-size: 13px;
        padding: 8px 0
    }
    .purchase-button>a {
        border-radius: 21px;
        padding-right: 15px;
        padding-left: 15px
    }
    .purchase-button p {
        font-size: 9px;
        max-width: 150px;
        margin-top: 4px
    }
}