body panel panel-header {
    color: rgb(255, 0, 0);
    font-size: 24px;
    margin: 0;
    /* padding: 0px 0px; */
}

body panel header-text {
    /* color: rgb(0, 0, 0); */
    font: inherit;
    font-size: 16px;
    margin: 0;
    /* padding: 0px 0px; */
}

header+main {
    padding-top: 4.25rem
}

div.header {
    display: none
}

.review-header,
.review-list li:last-child {
    margin-bottom: 0
}

.review-subheader {
    margin-bottom: 8px;
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 2px
}

.review-header {
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center
}

header {
    width: auto;
    right: 0;
    left: 0;
    box-sizing: border-box;
    background-image: -webkit-gradient(linear, left top, right top, from(#222), to(#424242));
    background-image: linear-gradient(90deg, #222, #424242);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .3);
    border: none!important
}

header #btn-login {
    padding: .325rem .75rem;
    border: 1px solid #000;
    border-radius: 1rem;
    -webkit-filter: brightness(5000%);
    filter: brightness(5000%);
    border-color: #fff!important;
    font-weight: 700;
    color: #fff;
    -webkit-transform: scale(.95);
    transform: scale(.95)
}

header>div {
    color: green;
    display: -webkit-box;
    display: flex;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-content: space-between;
    -webkit-box-align: center;
    align-items: center
}

header .nav-label {
    color: #fff
}

.changes-header {
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    float: none;
    line-height: 1.1;
    text-align: left;
    color: #111;
    margin: 0 2px 6px;
    font-size: 18px
}

.changes-header {
    font-size: 16px;
    padding-bottom: 0
}

header {
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-image: linear-gradient(90deg, #fff, #fff);
    padding: 8px 15px;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 1px solid #f4f4f4;
    top: 0
}

header>div {
    max-width: 980px;
    margin: 0 auto
}

header a,
header p {
    color: #000;
    line-height: inherit
}

header a {
    text-decoration: none!important
}

header a:hover {
    opacity: .85
}

header {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-style: none;
    padding: .5rem 1rem;
    z-index: 50;
    background-image: -webkit-gradient(linear, left top, right top, from(#222), to(#424242));
    background-image: linear-gradient(90deg, #222, #424242);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .3)
}

header>div {
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    align-content: space-between;
    margin: 0 auto
}

.cydia-body .cydia-hide,
.cydia-body header {
    display: none!important
}

.sileo-body .sileo-hide,
.sileo-body header {
    display: none!important
}

header+main {
    padding-top: 4.25rem
}

header {
    width: auto;
    right: 0;
    left: 0;
    box-sizing: border-box;
    background-image: -webkit-gradient(linear, left top, right top, from(#222), to(#424242));
    background-image: linear-gradient(90deg, #222, #424242);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .3);
    border: none!important
}

header #btn-login {
    padding: .325rem .75rem;
    border: 1px solid #000;
    border-radius: 1rem;
    -webkit-filter: brightness(5000%);
    filter: brightness(5000%);
    border-color: #fff!important;
    font-weight: 700;
    color: #fff;
    -webkit-transform: scale(.95);
    transform: scale(.95)
}

header>div {
    color: green;
    display: -webkit-box;
    display: flex;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-content: space-between;
    -webkit-box-align: center;
    align-items: center
}

header .nav-label {
    color: #fff
}

a.sub-header {
    color: #0070c9
}

.sub-header {
    line-height: normal;
    width: auto;
    text-align: right;
    font-size: 14px;
    color: #333;
    margin-bottom: 1px;
    font-weight: 600
}

.changes-header {
    font-size: 11px;
    font-style: italic;
    color: #000;
    font-weight: 600;
    margin: 0;
    opacity: .9
}

.package-header .name {
    font-size: 20px;
    font-weight: 700;
}

.package-header .identifier {
    margin-top: 4px;
    color: #a6a6a6;
    font-size: 12px
}

.package-header .labels {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-flex: 2;
    flex-grow: 2;
    padding-top: 5px
}

.package-header,
.package-header .labels {
    -webkit-box-align: center;
    align-items: center
}

.package-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-top: -5px;
    margin-bottom: 1rem;
    justify-items: stretch
}

header a {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

header .nav-label {
    line-height: normal;
    font-size: .9rem;
    font-weight: 600;
    opacity: .9
}

.sileo-body .sileo-hide,
.sileo-body header {
    display: none!important
}

.cydia-body .cydia-hide,
.cydia-body header {
    display: none!important
}

body main,
body panel panel-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
}

body panel panel-header {
    font-size: 22px;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-align: end;
    align-items: flex-end;
    margin: 0
}

body panel panel-header label {
    display: -webkit-inline-box;
    display: inline-flex;
    width: auto
}