/* HEADER DESKTOP HİDE*/

@media only screen and (min-width: 769px) {
  #sk-desktop-hide {
    display: none !important;
  }
}

/* DARK MODE ICIN GEREKLİ AYARLAMALAR */

.site-content,
body {
  background: #f9f9f9;
}

.site-header {
  background: #fff;
}

.site-title a:link,
.site-title a:visited {
  color: #373737;
}

.header-social-icons .social-icons-menu li a {
  color: #373737;
}

@media (prefers-color-scheme: light) {
  .site-title a:link,
  .site-title a:visited,
  .header-social-icons .social-icons-menu li a {
    color: #373737;
  }
  .site-content,
  .site-header {
    background: #fff;
  }
  header {
    background-color: rgb(248, 248, 248);
  }
}

@media (prefers-color-scheme: dark) {
  .site-title a:link,
  .site-title a:visited,
  .header-social-icons .social-icons-menu li a {
    color: #fff;
  }
  .site-content,
  body {
    background: #141414;
    color: white;
  }
  .site-header {
    background: #141414;
  }
  header {
    background-color: rgb(53, 53, 53);
  }
  nav {
    background-color: rgb(53, 53, 53);
  }
  .sk-card-black {
    background: rgb(49, 49, 49);
  }
}

.dark-mode {
  background: #141414;
  color: white;
}

/*DARK MODE MANUEL AYARLAR ICIN */

/*GOOGLE TRANSLATE */

#google_translate_element select {
  font: 400 12px/1.3 sans-serif;
  -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg);
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom,
    right bottom;
}

select:hover {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
}

select:active {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  color: var(--accentBg);
  border-color: var(--accentFg);
  background-color: var(--accentFg);
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0 !important;
}

.googleDesing {
  border-color: rgb(255, 217, 3) !important;
  border-radius: 50px;
  background-color: transparent;
  border-style: solid;
}

/*__________________________*/

/* BAŞLIK RENKLERI - HEADER COLOR */

.header-sk-color {
  color: #f0b802;
}

/* BİLGİLER - INFORMATIONS AYARLARI */

.informations-sk-center {
  text-align: center;
}

.informations-sk-border {
  border-radius: 50px;
}

.informations-sk-fonts {
  font-family: Impact;
}

/* Header Background ve BOrder Tasarımı*/

.sk-app-header {
  padding-left: 8px;
}

.sk-app-size {
  height: 64px;
  width: 64px;
}

.border-sbhnkhrmn {
  border-radius: 50px;
  color: orange;
  height: 66px;
  width: 66px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*____FOOTER FONT DİZAYN___________*/

.socialmedia-sbhnkhrmn {
  font-size: 24px;
}

.fa-paypal {
  color: white;
}

.fa-github {
  color: rgb(138, 138, 138);
}

.fa-twitter {
  color: rgb(39, 134, 230);
}

.fa-telegram {
  color: rgb(59, 176, 230);
}

.fa-whatsapp {
  color: rgb(116, 211, 60);
}

.fa-envelope {
  color: rgb(221, 155, 55);
}

/*___________________________________*/

body {
  margin: 0 auto;
  max-width: 56em;
}

/*_________________________*/

.translate-sbhnkhrmn {
  margin-top: 0px;
  padding-bottom: 5px;
}

/*___________________________________________________*/

/* HEADER AYARLARI */

.pb-3,
.py-3 {
  padding-bottom: 0px !important;
}

.mt-3,
.my-3 {
  margin-top: 0px !important;
}

.p-1 {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*__________________________*/

/*____________Button ayarları*/

.dropdown-content {
  right: 0;
}

.dropbtn {
  background-color: orange;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: orange;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: rgb(228, 148, 0);
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: orange;
}

/*______________________________*/

/*_____________Header Paddıng*/

.p-4 {
  padding: 15px !important;
}

.mb-3,
.my-3 {
  margin-bottom: 5px !important;
}

/* ___________________________*/

/* SECTIONS AYARLAR */

.sk-margin {
  margin: 15px;
}

body {
  top: 0px !important;
}

/*_________H DEGERLERİ*/

h1 {
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 2 !important;
}

h2 {
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 2 !important;
}

h3 {
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 2 !important;
}

h4 {
  font-size: 14px !important;
  line-height: 2 !important;
  font-weight: 750 !important;
}

h5 {
  font-size: 13px !important;
  font-weight: 700 !important;
}

h6 {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 2 !important;
}

/* GENEL AYARLAR */

.sk-text-center {
  text-align: center;
}

.sk-border-radius {
  border-radius: 50px;
}

.sk-header-color {
  color: white;
}

.sk-header-margin {
  margin-top: 5px;
  margin-bottom: 10px;
}

.sk-header-fonts {
  font-family: Arial, sans-serif;
}

.sk-card-options {
  padding: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
}

.sk-card-size {
  height: 25px;
  width: 75px;
  margin: auto;
}

/*_______________________*/

/* SBHNKHRMN KART RENKLERİ */

.sk-card-orange {
  background: orange;
}

.sk-card-blue {
  background: rgb(0, 140, 255);
}

.sk-card-red {
  background: rgb(253, 47, 47);
}

.sk-card-green {
  background: rgb(53, 194, 53);
}

.sk-card-gray {
  background: rgb(139, 139, 139);
}

.sk-card-black {
  background: rgb(59, 59, 59);
}

/*__________________________*/

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */

.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* REISMLER */

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ZOOM */
.zoom {
  transition: transform 0.1s; /* Animation */
}

.zoom:hover {
  transform: scale(1.08); /* (150% zoo */
}
